<ion-view view-title="Home">
  <ion-content overflow-scroll="false">
    <div ng-show="!homeCtrl.tag.id">
      <h3 style="text-align: center; padding: 5%">Tap a NFC tag</h3>
      <img src="img/nfc.jpg" alt="NFC Pic" style="display: block; margin: auto; width: 50%; height: 50%">
    </div>
    <div ng-show="homeCtrl.tag.id">
      <div class="item item-text-wrap">
        <dl>
          <dt>Tag Id</dt>
          <dd>{{ homeCtrl.tag.id | bytesToHexString }}</dd>
          <dt>Tag Type</dt>
          <dd>{{ homeCtrl.tag.type }}</dd>
          <!-- TODO techTypes -->
          <dt>Max Size</dt>
          <dd>{{ homeCtrl.tag.maxSize }} bytes</dd>
          <dt>Is Writable</dt>
          <dd>{{ homeCtrl.tag.isWritable }}</dd>
          <dt>Can Make Read Only</dt>
          <dd>{{ homeCtrl.tag.canMakeReadOnly }}</dd>
        </dl>
        <div class="card" ng-repeat="record in homeCtrl.tag.ndefMessage">
          <div class="item item-text-wrap">
            <dl>
              <dt>TNF</dt>
              <dd>{{ record.tnf | tnfToString }}</dd>
              <dt>Record Type</dt>
              <dd>{{ record.type | bytesToString }}</dd>
              <dt ng-hide="record.id">Record Id</dt>
              <dd ng-show="record.id">{{ record.id | bytesToString }}</dd>
              <dt>Payload</dt>
              <dd>{{ record | decodePayload }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div style="padding: 3%">
        <button class="button button-block button-positive" ng-click="homeCtrl.clear()">Clear</button>
      </div>
    </div>
  </ion-content>
</ion-view>
